<div ng-controller="AboutCtrl as ac">
  

  <div class="jumbotron">
    <h1><i class="fa fa-bullhorn fa-x4"></i>&nbsp;now! 2.0</h1> 
	<p>Założeniem aplikacji jest wyszukiwanie w prosty sposób najczęściej poszukiwanych typów obiektów czyli: sklep, lokal z jedzeniem oraz taksówka. Usprawnieniem jest maksymalne uproszczenie całego procesu do wyświetlenia znajdujących się w okolicy punktów o wybranym profilu oraz wskazanie czasu dotarcia, dystansu i najkrótszej drogi. </p>
    <div class="well well-sm">Autorami wersji 1.0 są: Grzegorz Futa i Paweł Data</div>
<div class="well well-sm">Autorem wersji 2.0 jest: Paweł Data</div>
  </div>
  
</div>
  


