<div ng-controller="HistoryCtrl as hc">
    <div class="panel panel-default" ng-if='history.length > 0'>
        <script>
                    document.getElementById("brak").className = "hide";
        </script>
        <div class="panel-heading">Historia lokalizacji:</div>
        <div class="panel-body">

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Lp.</th>
                        <th>Lokalizacja</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="h in history" >
                        <td> {{$index}}. </td>  
                        <td>{{h}}</td>


                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer"><td class="link"><a href="#/delete_history" class="btn btn-danger btn-xs "><i class="fa fa-trash" aria-hidden="true"></i> Usuń historie </a></div
    </div>
</div>
<div class="panel panel-default" id="brak">
    <div class="alert alert-danger">
        <strong>Brak historii lokalizacji.</strong>
    </div>
</div>



</div>