<header>
    <!-- logo -->
    <img src=".\img\logo.png" class="center-block img-responsive " id="logo-now!">
</header>
<div class="container">
    <h4 id="topic">Aplikacja wykonująca czynności na podstawie geolokalizacji</h4>
</div>
<div class="row">
    <div class="col-xs-6">
        <p>
            <a class="btn btn-primary btn-lg btn-block" href="#/pieszo" role="button" id="btnfoot"><img src=".\img\byfoot.png" id="bfoot">
                <br>pieszo</a>
        </p>
    </div>
    <div class="col-xs-6" id="coldrive">
        <p>
            <a class="btn btn-primary btn-lg btn-block" href="#/drive" role="button" id="btndrive"><img src=".\img\drive.png" id="drive">
                <br><span id="drivetext">samochodem</span></a>
        </p>
    </div>
</div>
<div class="panel panel-default" ng-if='res.length > 0'>
    <div class="panel-heading">Wszystkie miejsca w okolicy:</div>
    <div class="panel-body">
        <table class="table table-striped table-hover ">
            <tbody>
                <tr ng-repeat="r in res">
                    <td>{{r.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
