<div ng-controller="EatCtrl as ec">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">Pieszo</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <a class="btn btn-primary btn-lg btn-block" href="#/" id="allOne">
                            <div class="row"><span class="glyphicon glyphicon-home"></span></div>
                            <div class="row"><span class="all">wszystkie</span></div>
                            <div class="row"><span class="all">powiadomienia</span></div>
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a class="btn btn-default btn-lg btn-block" href="#/pieszo" role="button" id="btnfoot">
                            <div class="row"><img src=".\img\byfoot.png" id="bfoot"></div>
                            <div class="row"><span>pieszo</span></div>
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a class="btn btn-primary btn-lg btn-block" href="#/drive">
                            <div class="row"><img src=".\img\drive.png" id="img-car"></div><span id="car">samochodem</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Profile:</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4"><a class="btn btn-warning btn-lg btn-block" href="#/buy">kupuj</a></div>
                    <div class="col-xs-4"><a class="btn btn-warning btn-lg btn-block" href="#/taxi">taxi</a></div>
                    <div class="col-xs-4"><a class="btn btn-success btn-lg btn-block" href="#/eat"><span id="eat-text">zjedz coś</span></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" ng-if='res.length > 0'>
        <div class="panel-heading">Najbliższe restauracje i bary:</div>
        <div class="panel-body">
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>*</th>
                        <th>Nazwa</th>
                        <th>Adres</th>
                        <th>Ocena</th>
						<th>*</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="r in res">
                        <td><img ng-src='{{r.photos[0].getUrl({"maxWidth":100, "maxHeight":100})}}'></td>
                        <td>{{r.name}}</td>
                        <td>{{r.vicinity}}</td>
                        <td>{{r.rating}}</td>
						<td class="link"><a href="{{url[$index]}}">Nawiguj</a></td>
                    </tr>
                </tbody>
            </table> 
        </div>
    </div>
</div>
