<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Pieszo</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-4">
                    <a class="btn btn-primary btn-lg btn-block" href="#/" id="allOne">
                        <div class="row"><span class="glyphicon glyphicon-home"></span></div>
                        <div class="row"><span class="all">wszystkie</span></div>
                        <div class="row"><span class="all">powiadomienia</span></div>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a class="btn btn-default btn-lg btn-block" href="#/pieszo" role="button" id="btnfoot">
                        <div class="row"><img src=".\img\byfoot.png" id="bfoot"></div>
                        <div class="row"><span>pieszo</span></div>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a class="btn btn-primary btn-lg btn-block" href="#/drive">
                        <div class="row"><img src=".\img\drive.png" id="img-car"></div><span id="car">samochodem</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Profile:</div>
        <div class="panel-body">
            <div class="row">
                <div class="well">Wybierz interesujący Cię profil:</div>
                <div class="col-xs-4"><a class="btn btn-warning btn-lg btn-block" href="#buy"><span class="buy-text">kupuj</span></a></div>
                <div class="col-xs-4"><a class="btn btn-warning btn-lg btn-block" href="#taxi">taxi</a></div>
                <div class="col-xs-4"><a class="btn btn-warning btn-lg btn-block" href="#eat"><span id="eat-text">zjedz coś</span></a></div>
            </div>
        </div>
    </div>
	
		
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">
				Pieszo
			</h4>
		  </div>
		  <div class="modal-body">
			<p>
				Wybrałeś sposób poruszania się. Wybierz interesujący Cię profil aby wyświetlić miejsca w pobliżu.
			</p>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-danger" data-dismiss="modal">Zamknij</button>
		 
		  </div>
		</div>
	  </div>
	</div>

</div>
