<div>Pieszo</div>
kategorie:
<div class="row">
    <div class="col-xs-4">
        <a class="btn btn-primary btn-lg btn-block" href="#/" id="allOne">
            <div class="row"><span class="glyphicon glyphicon-home"></span></div>
            <div class="row"><span class="all">wszystkie</span></div>
            <div class="row"><span class="all">powiadomienia</span></div>
        </a>
    </div>
    <div class="col-xs-4">
        <a class="btn btn-primary btn-lg btn-block" href="#/pieszo" role="button" id="btnfoot">
            <div class="row"><img src=".\img\byfoot.png" id="bfoot"></div>
            <div class="row"><span>pieszo</span></div>
        </a>
    </div>
    <div class="col-xs-4">
        <a class="btn btn-primary btn-lg btn-block" href="#/drive">
            <div class="row"><img src=".\img\drive.png"></div><span id="car">samochodem</span></a>
    </div>
</div>
<div>Profile:</div>
<div class="row">
    <div class="col-xs-4"><a class="btn btn-primary btn-lg btn-block" href="#buy">kupuj</a></div>
    <div class="col-xs-4"><a class="btn btn-primary btn-lg btn-block" href="#taxi">taxi</a></div>
    <div class="col-xs-4"><a class="btn btn-primary btn-lg btn-block" href="#eat">zjedz coś</a></div>
</div>
