<div ng-controller="TaxiCtrl as tc">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">Pieszo</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <a class="btn btn-primary btn-lg btn-block" href="#/" id="allOne">
                            <div class="row"><span class="glyphicon glyphicon-home"></span></div>
                            <div class="row"><span class="all">wszystkie</span></div>
                            <div class="row"><span class="all">powiadomienia</span></div>
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a class="btn btn-default btn-lg btn-block" href="#/pieszo" role="button" id="btnfoot">
                            <div class="row"><img src=".\img\byfoot.png" id="bfoot"></div>
                            <div class="row"><span>pieszo</span></div>
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a class="btn btn-primary btn-lg btn-block" href="#/drive">
                            <div class="row"><img src=".\img\drive.png" id="img-car"></div><span id="car">samochodem</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Profile:</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4"><a class="btn btn-warning btn-lg btn-block" href="#/buy"><span class="buy-text">kupuj</span></a></div>
                    <div class="col-xs-4"><a class="btn btn-success btn-lg btn-block" href="#/taxi">taxi</a></div>
                    <div class="col-xs-4"><a class="btn btn-warning btn-lg btn-block" href="#/eat"><span id="eat-text">zjedz coś</span></a></div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if='res.length > 0'>
        <div class="panel panel-default" >
            <div class="panel-heading">Najbliższe postoje taksówek:</div>
            <div class="panel-body">
                <table class="table table-striped table-hover ">
                    <tbody>
                        <tr ng-repeat="r in res">
                            <td>{{r.name}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Najbliższa taksówka znajduje się na ulicy:</strong><br>
            {{nearTaxi}}<br>
            <strong>Dystans wynosi:</strong> <br>
            {{dist}}<br>
            <span class="label label-info">Pieszo: {{distVal}}</span>
        </div>
    </div>
</div>
